<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}"
</head>
<body>
     <form action="#" method="POST">
         <div>
             <label for="email"> Enter your email ID: </label>
             <input type="email" name="email">
         </div>
         <div>
             <label for="password"> Enter your password: </label>
             <input type="password" name="password">
         </div>
         <div>
              <button type="submit" name="submit">Login</button>
         </div>
     </form>

</body>
</html>